@page "/selection"
@model SmartKB.Pages.SelectionModel
<link rel="stylesheet" href="~/css/style.css" />

<div class="selection-screen">
    <div class="selection-card">
            <h1>Select what you want to summarize</h1>
            <div class="mode-buttons">
                <a href="/text" class="btn mode-btn">
                    <span class="btn-text">Summarize Text</span>
                </a>
                <a href="/file" class="btn mode-btn">
                    <span class="btn-text">Summarize File</span>
                </a>
            </div>
    </div>
</div>
